<%- include("partials/header") %>

<main>
    <h3>Erreur 404 : Page non trouvée</h3>
    <img src="/images/404.png" alt="Erreur 404" style="display: block; margin: 0 auto" />
</main>

<%- include("partials/footer") %>
