
<%- include("partials/header") %>
  

    <div id="app">
        <div class="form">
            <h2>Dice Roller</h2>
            <form id="game-form">
                <label for="dice-number-input">Nombre de dés</label>
                <input
                    type="range"
                    id="dice-number-input"
                    value="3"
                    min="1"
                    max="10"
                >
                <span id="dice-number">3</span>
                <button class="btn">Choisir le nombre de dés et lancer</button>
            </form>
        </div>
        <div id="game">
            <div class="board" id="player"></div>
            <div class="board" id="dealer"></div>
        </div>
    </div>

    <%- include("partials/footer") %>