<%- include("partials/header") %>

<div id="app">
    <div class="form">
        <h2>Juste Prix</h2>
        <form id="game-form">
            <label for="number-input">Trouvez le bon nombre !</label>
            <input class="number" type="text" name="number" id="number-input" placeholder="Entrez un nombre entre 1 et 500" />
            <button type="submit" id="number-btn" class="number-btn">C'est parti !</button>
        </form>
    </div>

    <div id="score"></div>
</div>

<%- include("partials/footer") %>
