<%- include("partials/header") %>
<div id="config-container">
    <h2>PixelArt</h2>
    <form class="configuration">
        <!-- Le formulaire est généré dans le fichier app.js -->
    </form>
</div>

<div class="grid-container">
    <div id="invader">
        <!-- Les cellules sont générées dans le fichier app.js -->
    </div>
</div>

<%- include("partials/footer") %>
