<%- include("partials/header") %>

<div id="game-head">
    <h2>Simon</h2>
    <div id="message">Cliquez sur démarrer et observez attentivement la séquence de couleurs</div>
    <button type="button" id="go">Démarrer</button>
</div>

<div id="playground">
    <div class="cell" id="green" style="background-color: green"></div>
    <div class="cell" id="red" style="background-color: red"></div>
    <div class="cell" id="yellow" style="background-color: yellow"></div>
    <div class="cell" id="blue" style="background-color: blue"></div>
</div>

<%- include("partials/footer") %>
